{% extends 'base.html' %}

{% block content %}

    <div class="w3-display-container" style="height: 600px">
    <div class="w3-padding w3-display-middle" style="width: 35%; min-width: 600px; height: 60%">
<form class="w3-center w3-display-container w3-container w3-card-4 w3-light-grey" style="width: 100%; height: 100%" method="post">
    <h2 class="w3-text-indigo w3-monospace" style="margin-top: 40px"><b>Are you sure you want to delete your profile?</b></h2>
    <h6 style="margin-top: 50px" class="w3-text-grey">Please, have in mind that if you delete your profile, all your initiatives will be deleted too!</h6>
    <button type="submit" class="w3-padding w3-display-bottomright w3-btn w3-round-xlarge w3-2017-navy-peony" style="margin-bottom: 30px; margin-right: 20px">Yes</button>
    <a class="w3-button w3-padding w3-display-bottomleft w3-btn w3-round-xlarge w3-2017-navy-peony" style="margin-bottom: 30px; margin-left: 20px" href="{{request.META.HTTP_REFERER|escape}}" target="_blank">Cancel</a> <!-- End footer -->
    {% csrf_token %}
</form>
        </div>
        </div>


{% endblock %}