{% extends 'base.html' %}
{% load forms %}

{% block content %}

<div class="main-container">
    <div class="w3-padding inner-div-login">
        <form  action="{% url 'login' %}" method="post"
               class="w3-center w3-container w3-card-4 w3-light-grey w3-padding-large">
            <h2 class="w3-text-indigo"><b>Log In</b></h2>
            {% if form.errors %}
            <p class="error-message">
                Please enter a correct username and password. Note that both fields may be case-sensitive.
            </p>
            {% endif %}
            {{ form.username|placeholder:'Username'|form_field_class:'w3-input w3-light-grey w3-round w3-animate-input'|form_field_styles:'width: 300px;margin-top: 40px' }}
            {{ form.password|placeholder:'Password'|form_field_class:'w3-input w3-light-grey w3-round w3-animate-input'|form_field_styles:'width: 300px;margin-top: 50px' }}

            <input type="hidden" value="{{ next }}" name="next"/>

            {% csrf_token %}
            <button type="submit" class="w3-button w3-padding w3-btn w3-round-xlarge w3-2017-navy-peony w3-large">Log in</button>
        </form>
        <div>
            <p class="w3-text-grey">Don't have an account? <a href="{% url 'register' %}" class="w3-text-dark-gray">Register</a></p>
        </div>
    </div>
</div>

{% endblock %}