{% extends 'base.html' %}
{% load forms %}

{% block content %}

<div class="w3-display-container" style="height: 600px">
    <div class="w3-padding w3-display-middle" style="width: 40%; min-width: 500px; height: 70%">
        <form action="{% url 'login' %}" method="post" class="w3-center w3-display-container w3-container w3-card-4 w3-light-grey" style="width: 100%; height: 100%">
            <h2 class="w3-text-indigo w3-monospace" style="margin-top: 40px"><b>Log In</b></h2>
            {% if form.errors %}
            <p style="color: red; font-size: 14px">Please enter a correct username and password. Note that both fields may be case-sensitive.</p>
            {% endif %}
            {{ form.username|placeholder:'Username'|form_field_class:'w3-input w3-light-grey w3-round w3-animate-input'|form_field_styles:'width: 300px;margin-top: 40px' }}
            {{ form.password|placeholder:'Password'|form_field_class:'w3-input w3-light-grey w3-round w3-animate-input'|form_field_styles:'width: 300px;margin-top: 50px' }}
{#                <input type="hidden" value="{{ next }}" name="next"/>#}
            {% csrf_token %}

            <button type="submit" class="w3-padding w3-display-bottommiddle w3-btn w3-round-xlarge w3-2017-navy-peony" style="margin-bottom: 30px">Log in</button>
        </form>
        <div class="second-option">
            <p class="w3-text-grey">Don't have an account? <a href="{% url 'register' %}" class="w3-text-dark-gray">Register</a></p>
        </div>
    </div>
</div>

{% endblock %}