{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div style="display: flex; justify-content: center">
    <a class="w3-button w3-padding w3-btn w3-round w3-blue w3-top" style="width: 96%" href="{% url 'add initiative' %}"><i class="fa fa-plus" aria-hidden="true"></i> ADD NEW INITIATIVE</a>
    </div>
 <div class="w3-row-padding w3-margin">
     {% if initiatives %}
     {% for initiative in initiatives %}
     <div class="w3-col s12 m6 l4">
         <div class="w3-card-4 w3-round">
             <div class="w3-container w3-center w3-padding">
             {% if initiative.image %}
                 <img src="{{ initiative.image }}" alt="Lights" style="height: 350px; max-width:100%" class="w3-round">
             {% else %}
                 <img src="{% static 'images/pic_butterfly.png' %}" alt="Lights" style="height: 350px; max-width:100%"
                      class="w3-round">
             {% endif %}
             </div>
             <div class="w3-container w3-center w3-text-dark-grey">
                 <p class="w3-large" style="height: 50px">
                     {% if initiative.is_expired %}
                     <span class="w3-tag w3-round w3-red w3-margin-right">Expired</span>
                     {% else %}
                     <span class="w3-tag w3-round w3-green w3-margin-right">Active</span>
                     {% endif %}
                     {{ initiative.title|upper }}
                 </p>
             </div>
            <div class="w3-container w3-left w3-text-grey w3-margin">
                <p>Category: <span class="w3-text-dark-grey">{{ initiative.category|upper }}</span></p>
                <p>Region: <span class="w3-text-dark-grey">{{ initiative.region|upper }}</span></p>
                <p>Suitable for: <span class="w3-text-dark-grey">{{ initiative.suitable_for|upper }}</span></p>
            </div>
            <div class="w3-container w3-right w3-text-grey w3-margin">
                <p>From: <span class="w3-text-dark-grey">{{ initiative.from_date|upper }}</span></p>
                <p>To: <span class="w3-text-dark-grey">{{ initiative.to_date|upper }}</span></p>
                <p>Participants: <span class="w3-text-dark-grey">{{ initiative.view_count|upper }}</span></p>
            </div>
             <div class="w3-container w3-text-dark-grey">
                 <p class="w3-large" style="height: 150px">{{ initiative.description|truncatechars:300}}</p>
             </div>
             <a class="w3-button w3-round w3-block w3-large w3-2017-navy-peony w3-margin-bottom" href="{% url 'details initiative' pk=initiative.pk %}">More...</a>
         </div>
     </div>
     {% endfor %}
     {% else %}
         <h2 class="w3-center w3-margin w3-xxlarge w3-padding">
             <a href="{% url 'add initiative' %}" style="text-decoration: none"><i>
                 <span class="w3-text-cyan">INSPIRE OTHERS</span> by
                 <span class="w3-text-green">OFFERING an INITIATIVE</span></i>
             </a>
         </h2>
     {% endif %}
 </div>
    {% if initiatives.has_other_pages %}
      <div class="w3-center">
        <div class="w3-bar w3-xlarge w3-text-dark-grey">
        {% if initiatives.has_previous %}
        <a href="?page={{ initiatives.previous_page_number }}" class="w3-bar-item w3-button">&laquo;</a>
        {% endif %}
        {% for i in initiatives.paginator.page_range %}
            {% if initiatives.number == i %}
            <a href="{{ i }}" class="w3-button">{{ i }}</a>
            {% else %}
            <a href="?page={{ i }}" class="w3-button">{{ i }}</a>
            {% endif %}
        {% endfor %}
        {% if initiatives.has_next %}
            <a href="?page={{ initiatives.next_page_number }}" class="w3-button">&raquo;</a>
        {% endif %}
        </div>
      </div>
    {% endif %}

{% endblock %}