{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="w3-text-dark-grey w3-center"><b>YOUR <span class="w3-text-cyan">INSPIRATIONAL</span><span class="w3-text-deep-purple"> STORIES</span></b></h1>
<a class="w3-button w3-padding w3-btn w3-large w3-round-large w3-blue story-btn" href="{% url 'add story' %}">Add Story</a>
<div class="w3-row-padding w3-margin">
    {% if stories %}
    {% for story in user_stories %}
    <div class="w3-col s12 m6 l4">
        <div class="w3-card-4 w3-round">
            <div class="w3-container w3-center w3-padding image-div">
            {% if story.image %}
                <img src="{{ story.image }}" alt="Lights" class="w3-round">
            {% else %}
                <img src="https://wp-media.beliefnet.com/sites/370/2020/09/butterfly-effect-beliefnet.jpg" alt="Lights"
                     class="w3-round">
            {% endif %}
            </div>
            <div class="w3-container w3-center w3-text-dark-grey status-field">
                <p class="w3-large" style="height: 50px; margin-bottom: 0">{{ story.title|upper }}</p>
            </div>
            <div class="w3-container w3-text-dark-grey">
                <p class="w3-large description-field">{{ story.description|truncatechars:220}}</p>
            </div>
            <a class="w3-button w3-round w3-block w3-large w3-2017-navy-peony w3-margin-bottom" href="{% url 'details story' pk=story.pk %}">More...</a>
        </div>
    </div>
    {% endfor %}
    {% else %}
        <h2 class="w3-center w3-margin w3-xxlarge none-users-initiatives">
            <a href="{% url 'add story' %}"><i>
                <span class="w3-text-cyan">INSPIRE OTHERS</span> by
                <span class="w3-text-green"> SHARING YOUR STORY</span></i>
            </a>
        </h2>
    {% endif %}

</div>
    {% if stories.has_other_pages %}
        <div class="w3-center">
            <div class="w3-bar w3-xlarge w3-text-dark-grey">
    {% if stories.has_previous %}
        <a href="?page={{ stories.previous_page_number }}" class="w3-bar-item w3-button">&laquo;</a>
    {% endif %}
    {% for i in stories.paginator.page_range %}
        {% if stories.number == i %}
            <a href="{{ i }}" class="w3-button">{{ i }}</a>
        {% else %}
            <a href="?page={{ i }}" class="w3-button">{{ i }}</a>
        {% endif %}
    {% endfor %}
    {% if stories.has_next %}
        <a href="?page={{ stories.next_page_number }}" class="w3-button">&raquo;</a>
    {% endif %}
            </div>
        </div>
    {% endif %}

{% endblock %}