{% extends 'base.html' %}
{% load forms %}
{% load static %}

{% block content %}
<h1 class="w3-text-dark-grey w3-center"><b>get <span class="w3-text-cyan">INSPIRED</span> with our <span class="w3-text-deep-purple">STORIES</span></b></h1>
{% if request.user.is_authenticated %}
    <a class="w3-button w3-padding w3-btn w3-large w3-round-large w3-blue story-btn" href="{% url 'add story' %}">Add Story</a>
{% endif %}
<div class="w3-display-container search-div">
    <form method="post" class="w3-display-middle">
        {{ search_form.title_filed|form_field_class:'w3-input w3-sand w3-border w3-round'|form_field_styles:'width: 85%' }}
        {% csrf_token %}
        <button type="submit" class="w3-display-right w3-button w3-btn w3-round w3-2017-navy-peony">SUBMIT</button>
    </form>
</div>
<div class="w3-row-padding w3-margin">
     {% for story in all_stories %}
     <div class="w3-col s12 m6 l4">
         <div class="w3-card-4 w3-round w3-text-dark-grey">
             <div class="w3-container w3-center w3-padding image-div">
             {% if story.image %}
                 <img src="{{ story.image }}" alt="Lights" class="w3-round">
             {% else %}
                 <img src="https://wp-media.beliefnet.com/sites/370/2020/09/butterfly-effect-beliefnet.jpg" alt="Lights"
                      class="w3-round">
             {% endif %}
             </div>
             <div class="w3-container w3-center status-field">
                 <p class="w3-large">{{ story.title|upper }}</p>
             </div>
             <div class="w3-container">
                 <p class="w3-large description-field">{{ story.description|truncatechars:220}}</p>
             </div>
             <a class="w3-button w3-round w3-block w3-large w3-2017-navy-peony w3-margin-bottom" href="{% url 'details story' pk=story.pk %}">More...</a>
         </div>
     </div>
     {% endfor %}
 </div>
    {% if stories.has_other_pages %}
      <div class="w3-center">
        <div class="w3-bar w3-xlarge w3-text-dark-grey">
    {% if stories.has_previous %}
      <a href="?page={{ stories.previous_page_number }}" class="w3-bar-item w3-button">&laquo;</a>
    {% endif %}
    {% for i in stories.paginator.page_range %}
      {% if stories.number == i %}
          <a href="{{ i }}" class="w3-button">{{ i }}</a>
      {% else %}
        <a href="?page={{ i }}" class="w3-button">{{ i }}</a>
      {% endif %}
    {% endfor %}
    {% if stories.has_next %}
      <a href="?page={{ stories.next_page_number }}" class="w3-button">&raquo;</a>
    {% endif %}
  </div>
        </div>
{% endif %}

{% endblock %}