{% extends 'base.html' %}
{% load forms %}
{% load static %}

{% block content %}
{% if request.user.is_authenticated %}
    <a class="w3-button w3-padding w3-btn w3-large w3-round-large w3-blue" style="margin-bottom: 30px; margin-left: 20px" href="{% url 'add story' %}" target="_blank">Add Story</a>
{% endif %}
<div class="w3-container" style="height: 80px">
    <div class="w3-display-container w3-padding w3-margin">
        <form method="post">
            {{ search_form.title_filed|form_field_class:'w3-display-middle w3-input w3-sand w3-border w3-round'|form_field_styles:'width: 70%' }}
            {% csrf_token %}
            <button type="submit" class="w3-display-right w3-button w3-round w3-2017-navy-peony w3-text-dark-grey">Submit</button>
        </form>
    </div>
</div>
 <div class="w3-row-padding">
     {% for story in all_stories %}
     <div class="w3-col s12 m6 l4">
         <div class="w3-card-4 w3-round w3-text-dark-grey">
             <div class="w3-container w3-center w3-padding">
             {% if story.image %}
                 <img src="{{ story.image }}" alt="Lights" style="height: 350px; max-width:100%" class="w3-round">
             {% else %}
                 <img src="https://wp-media.beliefnet.com/sites/370/2020/09/butterfly-effect-beliefnet.jpg" alt="Lights" style="height: 350px; max-width:100%"
                      class="w3-round">
             {% endif %}
             </div>
             <div class="w3-container w3-center">
                 <p class="w3-large" style="height: 50px; margin-bottom: 0">{{ story.title|upper }}</p>
             </div>
             <div class="w3-container">
                 <p class="w3-large" style="height: 150px">{{ story.description|truncatechars:250}}</p>
             </div>
             <a class="w3-button w3-round w3-block w3-large w3-2017-navy-peony w3-margin-bottom" href="{% url 'details story' pk=story.pk %}">More...</a>
         </div>
     </div>
     {% endfor %}
 </div>
    {% if stories.has_other_pages %}
      <div class="w3-center">
        <div class="w3-bar w3-xlarge w3-text-dark-grey">
    {% if stories.has_previous %}
      <a href="?page={{ stories.previous_page_number }}" class="w3-bar-item w3-button">&laquo;</a>
    {% endif %}
    {% for i in stories.paginator.page_range %}
      {% if stories.number == i %}
          <a href="{{ i }}" class="w3-button">{{ i }}</a>
      {% else %}
        <a href="?page={{ i }}" class="w3-button">{{ i }}</a>
      {% endif %}
    {% endfor %}
    {% if stories.has_next %}
      <a href="?page={{ stories.next_page_number }}" class="w3-button">&raquo;</a>
    {% endif %}
  </div>
        </div>
{% endif %}

{% endblock %}