<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Butterfly</title>
</head>
<body style="display: flex;justify-content: center;">
<div style="display: flex;
			justify-content: center;
			margin: 2%;
			max-width: 620px;">
    <div>
        <div style="display: flex; justify-content: left;">
            <img style="width: 10rem; height: auto" src="https://i.ibb.co/vswLvSq/logo2.png" alt="logo">
        </div>
        {% if user.first_name %}
        <h1 style="text-align: center; color: rgb(65, 63, 63); font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
            Hello, {{ user.first_name|upper }} !</h1>
        {% else %}
        <h1 style="text-align: center; color: rgb(65, 63, 63); font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
            Hello, {{ user.username|upper }} !</h1>
        {% endif %}
        <div style="max-width: 620px; text-align: center">
            <p style="padding: 20px 20px 0 20px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                Congratulations on creating your profile at Butterfly!
            </p>
            <p style="padding: 20px 20px 0 20px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                We believe that even tiny changes can lead to <b>HUGE</b> differences.
            </p>
            <p style="padding: 20px 20px 0 20px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                So, spread your wings and wave them in the right direction!
            </p>
        </div>
        <div style="display: flex; justify-content: center;">
            <img style="width: 50%;"
                 src="https://media2.giphy.com/media/dl2c1a1xHklcJzCmCP/giphy.gif"
                 alt="gif butterfly">
        </div>
    </div>
</div>
</body>
</html>
