{% extends 'base.html' %}
{% load forms %}

{% block content %}
<div class="main-container">
    <div class="w3-padding inner-div">
        <form  action="{% url 'add initiative' %}" method="post" class="w3-center w3-container w3-card-4 w3-light-grey w3-padding-large">
            <h2 class="w3-text-indigo"><b>Share your initiative</b></h2>
            <p class="w3-text-grey">* Required field</p>
            <div class="label-div w3-container w3-left">
                <label class="w3-text-grey w3-left">What field the initiative will help to? *</label>
                {{ form.category|form_field_class:'w3-input w3-light-grey w3-round w3-animate-input w3-xlarge'|form_field_styles:'width: 70%;margin-top: 50px' }}
            </div>
            {{ form.title|placeholder:'What should happen? (Title) *'|form_field_class:'w3-input w3-light-grey w3-round w3-animate-input'|form_field_styles:'width: 70%;margin-top: 50px' }}
            {{ form.description|placeholder:'What is the purpose? *'|form_field_class:'w3-input w3-light-grey w3-round w3-animate-input'|form_field_styles:'width: 70%; height: 250px; margin-top: 50px' }}
            {{ form.participation_reason|placeholder:'Why people should participate? *'|form_field_class:'w3-input w3-light-grey w3-round w3-animate-input'|form_field_styles:'width: 70%; height: 200px; margin-top: 50px' }}
            {{ form.equipment|placeholder:'Is special equipment needed? *'|form_field_class:'w3-input w3-light-grey w3-round w3-animate-input'|form_field_styles:'width: 70%;margin-top: 50px' }}
            {{ form.skills|placeholder:'Are special skills needed? *'|form_field_class:'w3-input w3-light-grey w3-round w3-animate-input'|form_field_styles:'width: 70%;margin-top: 50px' }}
            <div class="label-div w3-container w3-left">
                <label class="w3-text-grey w3-left">In which region the initiative take place? *</label>
                {{ form.suitable_for|form_field_class:'w3-input w3-light-grey w3-round w3-animate-input'|form_field_styles:'width: 70%;margin-top: 50px' }}
            </div>
            <div class="label-div w3-container w3-left">
                <label class="w3-text-grey w3-left">Who is suitable for? *</label>
                {{ form.region|form_field_class:'w3-input w3-light-grey w3-round w3-animate-input'|form_field_styles:'width: 70%;margin-top: 50px' }}
            </div>
            <div class="label-date-div w3-container w3-left">
                <label class="w3-text-grey w3-left">When the initiative starts? *</label>
                {{ form.from_date|form_field_class:'w3-left w3-light-grey w3-round'|form_field_styles:'width: 70%; margin-top: 15px' }}
            </div>
            <div class="label-date-div w3-container w3-left">
                <label class="w3-text-grey w3-left">When the initiative ends? *</label>
                {{ form.to_date|form_field_class:'w3-left w3-light-grey w3-round'|form_field_styles:'width: 70%; margin-bottom: 50px; margin-top: 15px' }}
            </div>
            {{ form.image|placeholder:'Show us the desired end (Image URL)'|form_field_class:'w3-input w3-light-grey w3-round w3-animate-input'|form_field_styles:'width: 70%;margin-top: 50px' }}
            <input type="hidden" value="{{ next }}" name="next"/>

            {% csrf_token %}
            <button type="submit" class="w3-button w3-padding w3-btn w3-round-xlarge w3-2017-navy-peony w3-large">Add Initiative</button>
        </form>
    </div>
</div>

{% endblock %}