{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style="display: flex; align-items: center; justify-content: center;height: auto">
    <div class="w3-card-4 w3-round" style="width: 65%;">
        <div class="w3-container w3-center">
            {% if initiative.image %}
                <img src="{{ initiative.image }}" alt="Lights" class="w3-round"
                 style="margin-top: 20px; width:auto; height: 350px">
            {% else %}
                <img src="{% static 'images/pic_butterfly.png' %}" alt="Lights" class="w3-round"
                 style="margin-top: 20px; width:auto; height: 350px">
            {% endif %}
        </div>
        <div class="w3-container w3-center w3-text-dark-grey">
            <p class="w3-xlarge">{{ initiative.title|upper }}</p>
        </div>
        <div class="w3-container w3-left w3-text-grey w3-margin">
            <p>Category: <span class="w3-large w3-text-dark-grey">{{ initiative.category|upper }}</span></p>
            <p>Region: <span class="w3-large w3-text-dark-grey">{{ initiative.region|upper }}</span></p>
            <p>Suitable for: <span class="w3-large w3-text-dark-grey">{{ initiative.suitable_for|upper }}</span></p>
        </div>
        <div class="w3-container w3-right w3-text-grey w3-margin">
            <p>From: <span class="w3-large w3-text-dark-grey">{{ initiative.from_date|upper }}</span></p>
            <p>To: <span class="w3-large w3-text-dark-grey">{{ initiative.to_date|upper }}</span></p>
            <p>Participants: <span class="w3-large w3-text-dark-grey">{{ initiative.view_count|upper }}</span></p>
        </div>
        <div class="w3-container w3-text-dark-grey">
            <p class="w3-text-grey w3-xlarge">What is the purpose?</p>
            <p class="w3-large" style="padding: 20px">{{ initiative.description }}</p>
        </div>
        <div class="w3-container w3-text-dark-grey">
            <p class="w3-text-grey w3-xlarge">Why should I participate?</p>
            <p class="w3-large" style="padding: 20px">{{ initiative.participation_reason }}</p>
        </div>
        <div class="w3-container w3-text-dark-grey">
            <p class="w3-text-grey w3-xlarge">Need I any special equipment?</p>
            <p class="w3-large" style="padding: 20px">{{ initiative.equipment }}</p>
        </div>
        <div class="w3-container w3-text-dark-grey">
            <p class="w3-text-grey w3-xlarge">Need I any special skills?</p>
            <p class="w3-large" style="padding: 20px">{{ initiative.skills }}</p>
        </div>
        {% if user.is_authenticated %}
            {% if request.user == initiative.user %}
                <a class="w3-button w3-left w3-round w3-large w3-2017-navy-peony w3-margin-bottom"
                   href="{% url 'edit initiative' pk=initiative.pk %}" style="margin-left: 20px">Edit initiative</a>
                <a class="w3-button w3-right w3-round w3-large w3-2017-navy-peony w3-margin-bottom"
                   href="{% url 'delete initiative' pk=initiative.pk %}" style="margin-right: 20px">Delete initiative</a>
            {% else %}
                <a href="{% url 'participate' pk=initiative.pk %}" style="margin-left: 20px">
                        {% if not initiative.participated %}
                        <button class="w3-button w3-center w3-round w3-large w3-2017-navy-peony w3-margin-bottom">Join</button>
                        {% else %}
                        <button class="w3-button w3-center w3-round w3-large w3-light-grey w3-text-dark-grey w3-border w3-margin-bottom">Joined</button>
                        {% endif %}
                </a>
            {% endif %}
        {% endif %}
    </div>
</div>

{% endblock %}