{% load static %}
<!DOCTYPE html>
<html lang="en" class="w3-sand">
<head>
<title>Butterfly</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=SourceSansPro">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2017.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
<style>
    html {
        scroll-behavior: smooth;
    }
    .quoteSlides {display:none;}
    .mySlides {display:none;}
    .w3-left, .w3-right, .w3-badge {cursor:pointer}
    .w3-badge {height:13px;width:13px;padding:0}
    h1,h2,h3,h4,h5,h6 {font-family: "Roboto"}
    body {font-family: "Source Sans Pro"}
</style>
</head>
<body class="w3-light-white">
    <div class="w3-bar w3-sand w3-text-dark-grey w3-padding">
        <a class="w3-left w3-sand w3-round" href="{% url 'index' %}">
            <img src="{% static '/images/butterfly_logo.png' %}" class="w3-bar-item w3-circle" style="width:200px; padding-right: 0; margin-top: 25px" alt="image">
        </a>
        {% if request.user.is_authenticated %}
            {% include 'details_profile.html' %}
        {% else %}
        <a href="{% url 'register' %}" class="w3-hide-small w3-bar-item w3-button w3-mobile w3-large w3-right"
           style="margin-top: 55px"><b>REGISTER</b></a>
        <a href="{% url 'login' %}" class="w3-hide-small w3-bar-item w3-button w3-mobile w3-large w3-right"
           style="margin-top: 55px"><b>LOG IN</b></a>
        {% endif %}
        <a href="{% url 'all stories' %}" class="w3-hide-small w3-bar-item w3-button w3-mobile w3-large w3-right"
           style="margin-top: 55px"><b>OUR STORIES</b></a>
        <a href="{% url 'all initiatives' %}" class="w3-hide-small w3-bar-item w3-button w3-mobile w3-large w3-right"
           style="margin-top: 55px"><b>INITIATIVES</b></a>
    </div>

    <div class="w3-container w3-center w3-padding-large">
        <div class="w3-center w3-padding-large w3-2017-navy-peony w3-round w3-large" style="height: 180px">
            <div class="quoteSlides w3-container">
                <p style="margin: 0">
                    <span style="font-size:50px">&#10077;</span>
                    <i><b>You have been created with the ability to change the world. Every single choice you make…
                        Every single action you take… matters. But remember, the converse is also true.
                        Every choice you do not make… Every action you do not take… matters just as much. </b></i>
                </p>
                <p class="w3-large">
                    <i><b>– Andy Andrews</b></i>
                </p>
            </div>
            <div class="quoteSlides w3-container">
                <p style="margin: 0">
                    <span style="font-size:50px">&#10077;</span>
                    <i><b>I am a believer of butterfly effect. A small positive vibration can change
                        the entire cosmos.</b></i>
                </p>
                <p class="w3-large">
                    <i><b>– Amit Ray</b></i>
                </p>
            </div>
            <div class="quoteSlides w3-container">
                <p style="margin: 0">
                    <span style="font-size:50px">&#10077;</span>
                    <i><b>Be the change that you wish to see in the world.</b></i>
                </p>
                <p class="w3-large">
                    <i><b>– Mahatma Gandhi</b></i>
                </p>
            </div>
        </div>
    </div>
    {% block content %}

    {% endblock %}

<footer class="w3-container w3-center w3-margin-top w3-center w3-padding-large">
<div class="w3-center w3-padding-large w3-2017-navy-peony w3-round">
    <p class="w3-xlarge"><i><b>Change one thing, Change everything!</b></i></p>
    <p style="text-align: right" class="w3-medium"><i class="fa fa-heart" aria-hidden="true"></i> Made with love by GabY
        <i class="fa fa-heart-o" aria-hidden="true"></i></p>
</div>
</footer>
<script src="{% static 'scripts/functions.js' %}"></script>
</body>
</html>