{% load static %}
<!DOCTYPE html>
<html lang="en" class="w3-sand">
<head>
<title>Butterfly</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=SourceSansPro">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2017.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  html {
  scroll-behavior: smooth;
}
  .mySlides {display:none;}
h1,h2,h3,h4,h5,h6 {font-family: "Roboto"}
body {font-family: "Source Sans Pro"}
</style>
</head>
<body class="w3-light-white w3-margin">
    <div class="w3-bar w3-sand w3-text-dark-grey w3-padding">
        <a class="w3-left w3-button w3-tag w3-sand w3-round" href="{% url 'index' %}">
            <img src="{% static '/images/pic_butterfly.png' %}" class="w3-bar-item w3-circle" style="width:85px; padding-right: 0" alt="image">
            <h3 class="w3-cursive w3-bar-item w3-center" style="padding-left: 10px; padding-top: 30px"><b>BUTTERFLY</b></h3>
        </a>
        {% if request.user.is_authenticated %}
        <div class="w3-sidebar w3-text-dark-grey w3-bar-block w3-card w3-animate-right w3-round w3-sand"
             style="display:none;z-index:5;right:0; width: 30%; height: 97vh" id="rightMenu">
            <button onclick="closeRightMenu()" class="w3-bar-item w3-button w3-large">Close &times;</button>
            <div class="w3-card-4 w3-display-container" style="height: 25%; width: 100%">
                {% if request.user.profile_picture %}
                <img src="{{ request.user.profile_picture }}" class="w3-display-middle" style="height: 80%; width: auto">
                {% else %}
                <img src="{% static 'images/pic_butterfly.png' %}" class="w3-display-middle" style="height: 80%; width: auto">
                {% endif %}
            </div>
        <div class="w3-left w3-margin">
            <div class="w3-large">
                {% if request.user.first_name and request.user.last_name %}
                <p>Name: <b><i>{{ request.user.first_name|upper }} {{ request.user.last_name|upper }}</i></b></p>
                {% endif %}
                <p>Username: <b><i>{{ request.user.username }}</i></b></p>
                <p>E-mail: <b><i>{{ request.user.email }}</i></b></p>
            </div><br>
            <div>
                <a href="{% url 'user initiatives' %}" class="w3-bar-item w3-button w3-large">
                    <b>MY INITIATIVES</b><span class="w3-badge w3-light-blue w3-text-dark-grey"
                                               style="margin-left: 20px">{{ initiative_count }}</span></a>
                <a href="{% url 'user participations' %}" class="w3-bar-item w3-button w3-large">
                    <b>PARTICIPATIONS</b><span class="w3-badge w3-light-blue w3-text-dark-grey"
                                               style="margin-left: 20px">{{ participation_count }}</span></a>
                <a href="{% url 'user stories' %}" class="w3-bar-item w3-button w3-large">
                    <b>MY STORIES</b><span class="w3-badge w3-light-blue w3-text-dark-grey"
                                           style="margin-left: 20px">{{ story_count }}</span></a>
            </div>
        </div>
            <div class="w3-display-bottomright">
                <a href="{% url 'profile edit' pk=request.user.pk %}" class="w3-bar-item w3-button w3-medium" style="padding-left: 20px">
                    <b>EDIT PROFILE</b>
                </a>
                <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-medium" style="padding-left: 20px; display: inline-block"><b>LOG OUT</b></a>
                <a href="{% url 'profile delete' pk=request.user.pk %}" class="w3-bar-item w3-button w3-medium" style="padding-left: 20px">
                    <b>DELETE PROFILE</b>
                </a>
            </div>
        </div>

        <div>
        <button class="w3-button w3-large w3-right" onclick="openRightMenu()"
                style="font-family: 'Source Sans Pro'; margin-top: 40px">
                {% if request.user.first_name %}
                <b><i>{{ request.user.first_name|upper }}</i></b>
                {% else %}
                <b><i>{{ request.user.username }}</i></b>
                {% endif %}
        </button>
        </div>
        <div class="w3-overlay" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>
        {% else %}
        <a href="{% url 'register' %}" class="w3-hide-small w3-bar-item w3-button w3-mobile w3-large w3-right"
           style="margin-top: 40px"><b>REGISTER</b></a>
        <a href="{% url 'login' %}" class="w3-hide-small w3-bar-item w3-button w3-mobile w3-large w3-right"
           style="margin-top: 40px"><b>LOG IN</b></a>
        {% endif %}
        <a href="{% url 'all stories' %}" class="w3-hide-small w3-bar-item w3-button w3-mobile w3-large w3-right"
           style="margin-top: 40px"><b>OUR STORIES</b></a>
        <a href="{% url 'all initiatives' %}" class="w3-hide-small w3-bar-item w3-button w3-mobile w3-large w3-right"
           style="margin-top: 40px"><b>INITIATIVES</b></a>
    </div>

    <div class="w3-container w3-center w3-padding-large">
        <div class="w3-center w3-padding-large w3-2017-navy-peony w3-round w3-large" style="height: 180px">
            <div class="mySlides w3-container">
                <p style="margin: 0">
                    <span style="font-size:50px">&#10077;</span>
                    <i><b>You have been created with the ability to change the world. Every single choice you make…
                        Every single action you take… matters. But remember, the converse is also true.
                        Every choice you do not make… Every action you do not take… matters just as much. </b></i>
                </p>
                <p class="w3-large">
                    <i><b>– Andy Andrews</b></i>
                </p>
            </div>
            <div class="mySlides w3-container">
                <p style="margin: 0">
                    <span style="font-size:50px">&#10077;</span>
                    <i><b>I am a believer of butterfly effect. A small positive vibration can change
                        the entire cosmos.</b></i>
                </p>
                <p class="w3-large">
                    <i><b>– Amit Ray</b></i>
                </p>
            </div>
            <div class="mySlides w3-container">
                <p style="margin: 0">
                    <span style="font-size:50px">&#10077;</span>
                    <i><b>Be the change that you wish to see in the world.</b></i>
                </p>
                <p class="w3-large">
                    <i><b>– Mahatma Gandhi</b></i>
                </p>
            </div>
        </div>
    </div>
    {% block content %}

    {% endblock %}

<footer class="w3-container w3-center w3-margin-top w3-center w3-padding-large">
<div class="w3-center w3-padding-large w3-2017-navy-peony w3-round">
    <p class="w3-xlarge"><i><b>Change one thing, Change everything!</b></i></p>
    <p style="text-align: right" class="w3-medium"> Made with love by Gabriella</p>
</div>
</footer>
<script>
function openFilterMenu() {
  document.getElementById("filterMenu").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function closeFilterMenu() {
  document.getElementById("filterMenu").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}
</script>
<script>
function openRightMenu() {
  document.getElementById("rightMenu").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function closeRightMenu() {
  document.getElementById("rightMenu").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}
</script>
<script>
var slideIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > x.length) {slideIndex = 1}
  x[slideIndex-1].style.display = "block";
  setTimeout(carousel, 15000);
}
</script>
</body>
</html>