{% load static %}
<div class="w3-overlay" onclick="closeRightMenu()" style="cursor:pointer" id="myOverlay"></div>
<div class="w3-sidebar w3-text-dark-grey w3-bar-block w3-card w3-animate-right w3-round w3-sand" id="rightMenu">
    <button onclick="closeRightMenu()" class="w3-bar-item w3-button w3-large">Close &times;</button>
    <div class="w3-card-4 w3-display-container profile-img">
        {% if request.user.profile_picture %}
        <img src="{{ request.user.profile_picture }}" class="w3-display-middle">
        {% else %}
        <img src="{% static 'images/pic_butterfly.png' %}" class="w3-display-middle">
        {% endif %}
    </div>
    <div class="w3-margin">
        <div class="personal-info">
            {% if request.user.first_name and request.user.last_name %}
            <p>Name: <b><i>{{ request.user.first_name|upper }} {{ request.user.last_name|upper }}</i></b></p>
            {% endif %}
            <p>Username: <b><i>{{ request.user.username }}</i></b></p>
            <p>E-mail: <b><i>{{ request.user.email }}</i></b></p>
        </div><br>
        <div>
            <a href="{% url 'user initiatives' %}" class="bar-item w3-button w3-round-large w3-large">
                <b>MY INITIATIVES</b>
                <span class="w3-light-blue w3-text-dark-grey w3-padding-small w3-margin-left w3-round-xlarge">
                    {{ initiative_count }}</span></a>
            <a href="{% url 'user participations' %}" class="bar-item w3-button w3-round-large w3-large">
                <b>PARTICIPATIONS</b>
                <span class="w3-light-blue w3-text-dark-grey w3-padding-small w3-margin-left w3-round-xlarge">
                    {{ participation_count }}</span></a>
            <a href="{% url 'user stories' %}" class="bar-item w3-button w3-round-large w3-large"><b>MY STORIES</b>
                <span class="w3-light-blue w3-text-dark-grey w3-padding-small w3-margin-left w3-round-xlarge">
                    {{ story_count }}</span></a>
        </div>
    </div>
    <div class="w3-display-bottomright edit-profile">
        <a href="{% url 'logout' %}" class="w3-bar-item w3-button inline"><b>LOG OUT</b></a>
        <a href="{% url 'profile delete' pk=request.user.pk %}" class="w3-bar-item w3-button">
            <b>DELETE PROFILE</b>
        </a>
    </div>
    <div class="w3-display-bottomleft edit-profile">
        <a href="{% url 'change password' pk=request.user.pk %}" class="w3-bar-item w3-button inline"><b>CHANGE PASSWORD</b></a>
        <a href="{% url 'profile edit' pk=request.user.pk %}" class="w3-bar-item w3-button">
            <b>EDIT PROFILE</b>
        </a>
    </div>
</div>
<div>
    <button class="nav-bar w3-btn w3-round-large w3-mobile w3-large w3-right w3-text-light-blue" onclick="openRightMenu()">
        {% if request.user.first_name %}
        <b><i>{{ request.user.first_name|upper }}</i></b>
        {% else %}
        <b><i>{{ request.user.username }}</i></b>
        {% endif %}
    </button>
</div>
