{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="w3-row w3-padding-large w3-white">
    <div class="w3-container w3-center w3-text-dark-grey title-container">
        <p><b>Whether you’re the type of person who craves a lot of social interaction or whether you prefer as
            little as possible, volunteering has social, career and personal benefits. Here are the top 10:</b></p>
    </div>
    <div class="w3-col m3 l5 w3-padding-large">
        <img src="https://th.bing.com/th/id/R.563cf799cbd8e31febe2dcbd2f06bf17?rik=F5npS5rgfJ5qXw&riu=http%3a%2f%2fwww.booksaregems.org%2fuploads%2f3%2f0%2f4%2f7%2f30473660%2fvolunteer-words-orig_1.gif&ehk=nmCnJ%2f8mDXgZWAzN5YAvF%2btRHTjkmO6%2fx%2bSAp8ClKvc%3d&risl=&pid=ImgRaw&r=0"  style="width: 100%">
    </div>
    <div class="w3-col m9 l7 w3-padding w3-center benefits">
        <p class="w3-text-cyan"><i class="fa fa-check" aria-hidden="true"></i> Provides you with a sense of purpose</p>
        <p class="w3-text-lime"><i class="fa fa-check" aria-hidden="true"></i> Provides a sense of community</p>
        <p class="w3-text-deep-purple"><i class="fa fa-check" aria-hidden="true"></i> Helps you meet new friends</p>
        <p class="w3-text-green"><i class="fa fa-check" aria-hidden="true"></i> Improves self-esteem and self-confidence</p>
        <p class="w3-text-dark-grey"><i class="fa fa-check" aria-hidden="true"></i> Teaches you valuable skills</p>
        <p class="w3-text-cyan"><i class="fa fa-check" aria-hidden="true"></i> Brings fun into your life</p>
        <p class="w3-text-deep-purple"><i class="fa fa-check" aria-hidden="true"></i> Can help you be happier</p>
        <p class="w3-text-green"><i class="fa fa-check" aria-hidden="true"></i> Gets you out of your comfort zone</p>
        <p class="w3-text-dark-grey"><i class="fa fa-check" aria-hidden="true"></i> Improves your mental health</p>
    </div>
</div>

<div class="w3-container w3-section">
    <div class="w3-container w3-center w3-text-dark-grey title-container">
        <p><b>If you are already inspired, choose an initiative from one of the categories . . .</b></p>
    </div>
    <div class="w3-content w3-display-container w3-section initiatives-container">
        <a href="{% url 'all initiatives'%}?category=Animals&from_date=&to_date=&region= ">
            <div class="w3-display-container mySlides" >
                <img class="w3-opacity-min w3-hover-opacity-off" src="{% static 'images/bees.png' %}" alt="Animals">
            <div class="w3-display-topmiddle w3-container w3-padding-16 w3-text-dark-grey"><b>ANIMALS</b></div>
            </div>
        </a>
        <a href="{% url 'all initiatives'%}?category=Environment&from_date=&to_date=&region= ">
            <div class="w3-display-container mySlides" >
                <img class="w3-opacity-min w3-hover-opacity-off" src="{% static 'images/envirenment.png' %}"
                     alt="Environment">
            <div class="w3-display-topleft w3-container w3-padding-16 w3-text-dark-grey"><b>ENVIRONMENT</b></div>
            </div>
        </a>
        <a href="{% url 'all initiatives'%}?category=Healthcare&from_date=&to_date=&region= ">
            <div class="w3-display-container mySlides" >
                <img class="w3-opacity-min w3-hover-opacity-off" src="{% static 'images/healthcare.png' %}"
                     alt="Healthcare">
            <div class="w3-display-topright w3-container w3-padding-16 w3-text-dark-grey"><b>HEALTHCARE</b></div>
            </div>
        </a>
        <a href="{% url 'all initiatives'%}?category=Society&from_date=&to_date=&region= ">
            <div class="w3-display-container mySlides" >
                <img class="w3-opacity-min w3-hover-opacity-off" src="{% static 'images/society.png' %}"
                     alt="Society">
            <div class="w3-display-topmiddle w3-container w3-padding-16 w3-text-dark-grey"><b>SOCIETY</b></div>
            </div>
        </a>
        <a href="{% url 'all initiatives'%}?category=Other&from_date=&to_date=&region= ">
            <div class="w3-display-container mySlides" >
                <img class="w3-opacity-min w3-hover-opacity-off" src="{% static 'images/other.png' %}"
                     alt="Other">
            <div class="w3-display-topleft w3-container w3-padding-16 w3-text-white w3-round-large">OTHER</div>
            </div>
        </a>
      <div class="w3-center w3-container w3-xlarge w3-text-white w3-display-bottommiddle nav-band">
        <div class="w3-left w3-hover-text-black" onclick="plusDivs(-1)">&#10094;</div>
        <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(5)"></span>
      </div>
    </div>
</div>
<div class="w3-row w3-padding-large w3-white w3-section">
    <div class="w3-container w3-center w3-text-dark-grey title-container">
        <p><b>. . . read some of our inspirational stories . . .</b></p>
    </div>
    <div class="title-container">
        <div class="w3-row-padding initiatives-container">
            {% for story in stories %}
                <div class="w3-col s12 m6 l4">
                <a class="w3-opacity-min w3-hover-opacity-off" href="{% url 'details story' pk=story.pk %}">
                    <div class="w3-display-container w3-center w3-border w3-margin w3-card-4 story-card">
                        {% if story.image %}
                        <img src="{{ story.image }}">
                        {% else %}
                        <img src="https://wp-media.beliefnet.com/sites/370/2020/09/butterfly-effect-beliefnet.jpg">
                        {% endif %}
                        <div class="w3-display-middle w3-container w3-padding w3-text-white w3-round-large">
                            {{ story.title }}</div>
                    </div>
                </a>
                </div>
            {% endfor %}
            <div class="w3-col s12 m6 l4">
                <a class="w3-opacity-min w3-hover-opacity-off" href="{% url 'all stories' %}">
                    <div class="w3-display-container w3-center w3-border w3-margin w3-card-4 story-card">
                        <img src="https://wp-media.beliefnet.com/sites/370/2020/09/butterfly-effect-beliefnet.jpg">
                       <div class="w3-display-middle w3-container w3-padding w3-text-white w3-round-large">
                           ALL STORIES</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="w3-container w3-section">
    <div class="w3-container w3-center w3-text-dark-grey title-container">
        <p><b>. . . and become part of our big FAMILY <i class="fa fa-heart w3-text-red" aria-hidden="true"></i></b></p>
    </div>
    <div class="title-container">
        <div class="w3-row-padding w3-text-grey statistic">
            <div class="w3-col s12 m6 l3">
                <div class="w3-display-container w3-center w3-border w3-margin w3-card-4">
                    <p>Participations: </p>
                    <p class="numbers">{{ participants_count }}</p>
                </div>
            </div>
            <div class="w3-col s12 m6 l3">
                <div class="w3-display-container w3-center w3-border w3-margin w3-card-4">
                    <p>Initiatives: </p>
                    <p class="numbers">{{ initiatives_count }}</p>
                </div>
            </div>
            <div class="w3-col s12 m6 l3">
                <div class="w3-display-container w3-center w3-border w3-margin w3-card-4">
                    <p>Stories: </p>
                    <p class="numbers">{{ stories_count }}</p>
                </div>
            </div>
            <div class="w3-col s12 m6 l3">
                <div class="w3-display-container w3-center w3-border w3-margin w3-card-4">
                    <p>Users: </p>
                    <p class="numbers">{{ users_count }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}